* {
    box-sizing:border-box;
}

header {
    text-align: center;
    margin:80px;
}

section {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:40px;
}
.question {
    display:none;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    width:60%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.answer {
    margin:20px;
}

.button {
    display:flex;
    justify-content: center;
    margin: 60px auto;
}

#time {
    text-align:center;
}